/* 

    Note

    Styling subject to change as app develops
    -- NOT intended for multiplayer at the moment

*/

* {
    border: 1px solid red;
}

#canvas {
    min-height: 100vh;
}

#backdrop {
    min-height: 100vh;
    min-width: 100vw;
    display: none;
    opacity: .5;
    background-color:#222;
    z-index: 99;
}

#menu {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #222;
    opacity: 1;
    z-index: 100;
    display: none;
}

#menu-title {
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

.btn-menu-option {
    margin: 10px;
    font-size: 26px;
}

#player {
    position: absolute;
    background-color: green;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0px;
    left: 0px;
}

#name {
    position: relative;
    top: -21px;
    left: -13px;
    width: 40px;
    height: 10px;
    line-height: 9px;
    padding: 3px;
    margin: 0 auto;
    font-size: 14px;
}